{% extends 'users/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Hi {{ user.username }}! What would you like to order today?<h3><br />
        <div class = "container" style = "width: 50%">
            <div class = "list-group list-group-flush rouneded">
                <a href = "{% url 'users:addFood' 'Pizza' %}" class = "list-group-item list-group-item-action rounded-pill shadow p-2 mb-4 bg-primary">Pizza</a>
                <a href = "{% url 'users:addFood' 'Burger' %}" class = "list-group-item list-group-item-action rounded-pill shadow p-2 mb-4 bg-primary">Burger</a>
                <a href = "{% url 'users:addFood' 'Roll' %}" class = "list-group-item list-group-item-action rounded-pill shadow p-2 mb-4 bg-primary">Roll</a>
            </div>
        </div>
        <p class="container"><a href="{% url 'logout' %}" class = "btn btn-danger">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'users:signup' %}">Signup</a>
    {% endif %}
{% endblock %}