{% extends 'users/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Hi {{ user.username }}! What would you like to order today?</h3><br />
        {% for item in items %}
            <a href = "{% url 'users:addFood' item.pk %}" class = "btn btn-danger rounded-pill" style = "margin: 10px 10px;">{{ item.name }}</a><br />
        {% endfor %}
        <footer class="page-footer align-items-center">
            <a href="{% url 'logout' %}" class = "btn btn-danger">Logout</a> | 
            <a href = "{% url 'users:displayFood' %}" class = "btn btn-success">Your orders</a> |
            <a href = "{% url 'users:cart' %}" class = "btn btn-success">Your cart</a>
        </footer>
    {% else %}
        <h3 style = "padding-bottom: 25px;">Welcome to foodies!</h3>
        <a href="{% url 'login' %}" class = "btn btn-success">Login</a> | <a href="{% url 'users:signup' %}" class = "btn btn-info">Signup</a>
    {% endif %}
{% endblock %}