{% extends 'users/base.html' %}
{% block title %} Your orders {% endblock %}
{% block content %}
    <h3>You bought:</h3>
    <br />
    <table class = "table table-dark">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Ordered At</th>
            </tr>
        </thead>
    {% for item in customer.orders_set.all %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.order_time }}</td>
        </tr>
    {% endfor %}
    </table>
    <p>Want to order something else? Click <a href = "{% url 'home' %}">here</a></p>
{% endblock %}